<h1>Report Result</h1>
<% if @expenses.empty? %>
	<p>No Records Found</p>
<% else %>
	<% @expenses.each do |r| %>
		<div>	
			<p>Expense Category:<%= r.name %><p>
			<p>Value:<%= r.value %></p>
			<p>Date:<%= r.date %></p>		
		</div>
	<% end %>
<% end %>

<% if @incomes.empty? %>
	<p>No Records Found</p>
<% else %>
	<% @incomes.each do |r| %>
		<div>	
			<p>Income Category:<%= r.name %><p>
			<p>Value:<%= r.value %></p>
			<p>Date:<%= r.date %></p>		
		</div>
	<% end %>
<% end %>


<%= link_to 'Back', new_report_path %>